Rating and potential prediction system using current rating, potential and stats, combined with statistics from transfermarkt

In [1]:
#Databases used:
#https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset
#https://www.kaggle.com/kriegsmaschine/soccer-players-values-and-their-statistics
#https://www.kaggle.com/bryanb/fifa-player-stats-database?select=FIFA21_official_data.csv

Objective: Merging transfermarkt and sofifa databases to predict Ratings based on Real-Life Statistics

In [2]:
#Importing libraries
import pandas as pd
pd.options.mode.chained_assignment = None #Disabling chained assigment warning 
import numpy as np
import os
from sklearn.model_selection import train_test_split

from keras.layers import Input, Dense, Add, Dropout
from keras.models import Model
from keras import regularizers
from keras import optimizers
import re
import tensorflow as tf #tensorflow
from tensorflow import keras #keras
from tensorflow.keras import layers #layers
from keras import backend as K #keras backend
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from google.colab import drive #library to read google drive files
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
#training data direction
train_df1 ='/content/gdrive/My Drive/Proyects/fifa_deep_learning/players_18.csv' 
train_df2 ='/content/gdrive/My Drive/Proyects/fifa_deep_learning/transfermarkt_fbref_201718.xlsx' 
train_df3 ='/content/gdrive/My Drive/Proyects/fifa_deep_learning/players_19.csv' 
train_df4 ='/content/gdrive/My Drive/Proyects/fifa_deep_learning/transfermarkt_fbref_201819.xlsx' 
#validation data direction
test_df ='/content/gdrive/My Drive/Proyects/fifa_deep_learning/players_20.csv' 
test_df2 ='/content/gdrive/My Drive/Proyects/fifa_deep_learning/transfermarkt_fbref_201920.xlsx' 
test_df3 ='/content/gdrive/My Drive/Proyects/fifa_deep_learning/players_21.csv' 
#read training data with pandas
datos_train1 = pd.read_csv(train_df1) 
datos_train2 = pd.read_excel(train_df2) 
datos_train3 = pd.read_csv(train_df3) 
datos_train4 = pd.read_excel(train_df4) 
#read test data with pandas
datos_test = pd.read_csv(test_df)
datos_test2 = pd.read_excel(test_df2) 
datos_test_nuevo = pd.read_csv(test_df3) 
datos_train1

       sofifa_id                                         player_url  ...   rcb    rb
0          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...  ...  53+3  62+3
1         158023  https://sofifa.com/player/158023/lionel-messi/...  ...  46+3  58+3
2         190871  https://sofifa.com/player/190871/neymar-da-sil...  ...  47+3  60+3
3         167495  https://sofifa.com/player/167495/manuel-neuer/...  ...   NaN   NaN
4         176580  https://sofifa.com/player/176580/luis-suarez/1...  ...  59+4  65+4
...          ...                                                ...  ...   ...   ...
17587     237463  https://sofifa.com/player/237463/adam-kelsey/1...  ...   NaN   NaN
17588     231381  https://sofifa.com/player/231381/jordan-young/...  ...  29+1  32+1
17589     240404  https://sofifa.com/player/240404/jack-keeble/1...  ...  45+1  46+1
17590      11728  https://sofifa.com/player/11728/barry-richards...  ...   NaN   NaN
17591     235352  https://sofifa.com/player/235352/tommy-kassemo...  ...  39+1  38+1

[17592 rows x 104 columns]

#Data Preprocessing

Preprocessing Sofifa Data

In [4]:
#Deleting Non-useful columns from sofifa Databases
no_use_columns = ['player_url','short_name','value_eur', 	'wage_eur','work_rate','body_type','real_face',
                  'release_clause_eur','player_tags','team_position','team_jersey_number',
                  'loaned_from','joined','contract_valid_until','nation_position','nation_jersey_number',
                  'ls','st','rs','lw','lf','cf','rf','rw','lam','cam','ram','lm','lcm','cm','rcm','rm','lwb',
                  'ldm','cdm','rdm','rwb','lb','lcb','cb','rcb','rb','player_traits','gk_handling','gk_kicking',
                  'gk_positioning','gk_reflexes','gk_diving','gk_speed','pace','shooting','passing','dribbling',
                  'defending','physic','nationality','club','dob','weak_foot', 	'skill_moves','attacking_crossing', 	
                  'attacking_finishing', 	'attacking_heading_accuracy', 'attacking_short_passing', 	'attacking_volleys', 	
                  'skill_dribbling', 	'skill_curve', 	'skill_fk_accuracy','skill_long_passing', 	'skill_ball_control',
                  'movement_acceleration', 	'movement_sprint_speed', 'movement_agility', 	'movement_reactions', 	'movement_balance',
                  'power_shot_power', 	'power_jumping', 'power_stamina', 	'power_strength', 	'power_long_shots', 	'mentality_aggression',
                  'mentality_interceptions','mentality_positioning', 	'mentality_vision', 	'mentality_penalties', 	'mentality_composure',
                  'defending_marking', 'defending_standing_tackle', 	'defending_sliding_tackle', 	'goalkeeping_diving', 	'goalkeeping_handling', 	
                  'goalkeeping_kicking', 	'goalkeeping_positioning', 	'goalkeeping_reflexes']

#players_21 has different columns
no_use_columns4 = ['Name','Age', 	'Photo', 	'Nationality', 	'Flag', 	'Potential', 	'Club', 	'Club Logo', 	'Value', 	'Wage',
                   'Special', 	'Preferred Foot', 	'International Reputation', 	'Weak Foot', 	'Skill Moves', 	'Work Rate', 	'Body Type',
                   'Real Face', 	'Position', 	'Jersey Number', 	'Joined', 	'Loaned From', 	'Contract Valid Until', 	'Height', 	'Weight',
                   'Crossing', 	'Finishing', 	'HeadingAccuracy', 	'ShortPassing',	'Volleys', 	'Dribbling',	'Curve', 	'FKAccuracy', 	'LongPassing',
                   'BallControl', 	'Acceleration', 	'SprintSpeed', 	'Agility',	'Reactions', 	'Balance', 	'ShotPower', 	'Jumping', 	'Stamina',
                   'Strength', 	'LongShots', 	'Aggression', 	'Interceptions', 	'Positioning', 	'Vision', 	'Penalties', 	'Composure', 	'Marking',
                   'StandingTackle', 	'SlidingTackle', 	'GKDiving', 	'GKHandling', 	'GKKicking', 	'GKPositioning', 	'GKReflexes', 	'Best Position',	
                   'Best Overall Rating', 	'Release Clause', 	'DefensiveAwareness']

#Dropping columns
datos_train1 = datos_train1.drop(no_use_columns, axis = 1)
datos_test = datos_test.drop(no_use_columns, axis = 1)
datos_train3 = datos_train3.drop(no_use_columns, axis = 1)
datos_test_nuevo = datos_test_nuevo.drop(no_use_columns4, axis = 1)
datos_train1

       sofifa_id  ... international_reputation
0          20801  ...                        5
1         158023  ...                        5
2         190871  ...                        5
3         167495  ...                        5
4         176580  ...                        5
...          ...  ...                      ...
17587     237463  ...                        1
17588     231381  ...                        1
17589     240404  ...                        1
17590      11728  ...                        1
17591     235352  ...                        1

[17592 rows x 10 columns]

In [5]:
#Filling NaN values with 0 or droping if in rows, all columns are NaN 
datos_train1 = datos_train1.dropna()
datos_train3 = datos_train3.dropna()
datos_train4 = datos_train4.dropna()
datos_test = datos_test.dropna()
datos_test2 = datos_test2.dropna()
# Numerical imputation for NaN values on datos_train2, because all columns are not NaN
datos_train2 = datos_train2.fillna(0)
datos_train2

      Unnamed: 0          player nationality  ... WinCL CLBestScorer   Season
0            379          Burgui      es ESP  ...     0            0  201718#
1           2530  Raphaël Varane      fr FRA  ...     1            0  201718#
2            721    Rubén Duarte      es ESP  ...     0            0  201718#
3           2512   Samuel Umtiti      fr FRA  ...     0            0  201718#
4            882    Manu Garcí­a      es ESP  ...     0            0  201718#
...          ...             ...         ...  ...   ...          ...      ...
2227        1864  Victor Osimhen      ng NGA  ...     0            0  201718#
2228        2367  Renato Steffen      ch SUI  ...     0            0  201718#
2229        1168    Paul Jaeckel      de GER  ...     0            0  201718#
2230        2546   Paul Verhaegh      nl NED  ...     0            0  201718#
2231        2620         William      br BRA  ...     0            0  201718#

[2232 rows x 400 columns]

In [6]:
#Integer Encoding of player_positions: Training Set 1

for i in range(len(datos_train1.index)): #Taking best position only, not considering multiple positions
  datos_train1['player_positions'][i] = datos_train1.player_positions[i].split(',',1)[0]

for i in range (len(datos_train1.index)): #Will asociate similar positions. Ex: RB and LB, because R or L does not affect rating
  if datos_train1['player_positions'][i] == 'GK':
    datos_train1['player_positions'][i] = 1
  if datos_train1['player_positions'][i] == 'LB' or datos_train1['player_positions'][i] == 'RB' or datos_train1['player_positions'][i] == 'LWB' or datos_train1['player_positions'][i] == 'RWB':
    datos_train1['player_positions'][i] = 2
  if datos_train1['player_positions'][i] == 'CB':
    datos_train1['player_positions'][i] = 3
  if datos_train1['player_positions'][i] == 'RM' or datos_train1['player_positions'][i] == 'LM':
    datos_train1['player_positions'][i] = 4
  if datos_train1['player_positions'][i] == 'CDM':
    datos_train1['player_positions'][i] = 5
  if datos_train1['player_positions'][i] == 'CM':
    datos_train1['player_positions'][i] = 6
  if datos_train1['player_positions'][i] == 'CAM':
    datos_train1['player_positions'][i] = 7        
  if datos_train1['player_positions'][i] == 'CF':
    datos_train1['player_positions'][i] = 8
  if datos_train1['player_positions'][i] == 'LW' or datos_train1['player_positions'][i] == 'RW':
    datos_train1['player_positions'][i] = 9 
  if datos_train1['player_positions'][i] == 'ST':
    datos_train1['player_positions'][i] = 10       

datos_train1

       sofifa_id  ... international_reputation
0          20801  ...                        5
1         158023  ...                        5
2         190871  ...                        5
3         167495  ...                        5
4         176580  ...                        5
...          ...  ...                      ...
17587     237463  ...                        1
17588     231381  ...                        1
17589     240404  ...                        1
17590      11728  ...                        1
17591     235352  ...                        1

[17592 rows x 10 columns]

In [7]:
#Integer Encoding of player_positions: Training Set 2

for i in range(len(datos_train3.index)): #Taking best position only, not considering multiple positions
  datos_train3['player_positions'][i] = datos_train3.player_positions[i].split(',',1)[0]

for i in range (len(datos_train3.index)): #Will asociate similar positions. Ex: RB and LB, because R or L does not affect rating
  if datos_train3['player_positions'][i] == 'GK':
    datos_train3['player_positions'][i] = 1
  if datos_train3['player_positions'][i] == 'LB' or datos_train3['player_positions'][i] == 'RB' or datos_train3['player_positions'][i] == 'LWB' or datos_train3['player_positions'][i] == 'RWB':
    datos_train3['player_positions'][i] = 2
  if datos_train3['player_positions'][i] == 'CB':
    datos_train3['player_positions'][i] = 3
  if datos_train3['player_positions'][i] == 'RM' or datos_train3['player_positions'][i] == 'LM':
    datos_train3['player_positions'][i] = 4
  if datos_train3['player_positions'][i] == 'CDM':
    datos_train3['player_positions'][i] = 5
  if datos_train3['player_positions'][i] == 'CM':
    datos_train3['player_positions'][i] = 6
  if datos_train3['player_positions'][i] == 'CAM':
    datos_train3['player_positions'][i] = 7        
  if datos_train3['player_positions'][i] == 'CF':
    datos_train3['player_positions'][i] = 8
  if datos_train3['player_positions'][i] == 'LW' or datos_train3['player_positions'][i] == 'RW':
    datos_train3['player_positions'][i] = 9 
  if datos_train3['player_positions'][i] == 'ST':
    datos_train3['player_positions'][i] = 10       

datos_train3

       sofifa_id  ... international_reputation
0          20801  ...                        5
1         158023  ...                        5
2         190871  ...                        5
3         193080  ...                        4
4         192985  ...                        4
...          ...  ...                      ...
17765     238985  ...                        1
17766     240160  ...                        1
17767     241304  ...                        1
17768     240158  ...                        1
17769     243961  ...                        1

[17770 rows x 10 columns]

In [8]:
#Integer Encoding of player_positions: Test Set

for i in range(len(datos_test.index)): #Taking best position only, not considering multiple positions
  datos_test['player_positions'][i] = datos_test.player_positions[i].split(',',1)[0]

for i in range (len(datos_test.index)): #Will asociate similar positions. Ex: RB and LB, because R or L does not affect rating
  if datos_test['player_positions'][i] == 'GK':
    datos_test['player_positions'][i] = 1
  if datos_test['player_positions'][i] == 'LB' or datos_test['player_positions'][i] == 'RB' or datos_test['player_positions'][i] == 'LWB' or datos_test['player_positions'][i] == 'RWB':
    datos_test['player_positions'][i] = 2
  if datos_test['player_positions'][i] == 'CB':
    datos_test['player_positions'][i] = 3
  if datos_test['player_positions'][i] == 'RM' or datos_test['player_positions'][i] == 'LM':
    datos_test['player_positions'][i] = 4
  if datos_test['player_positions'][i] == 'CDM':
    datos_test['player_positions'][i] = 5
  if datos_test['player_positions'][i] == 'CM':
    datos_test['player_positions'][i] = 6
  if datos_test['player_positions'][i] == 'CAM':
    datos_test['player_positions'][i] = 7        
  if datos_test['player_positions'][i] == 'CF':
    datos_test['player_positions'][i] = 8
  if datos_test['player_positions'][i] == 'LW' or datos_test['player_positions'][i] == 'RW':
    datos_test['player_positions'][i] = 9 
  if datos_test['player_positions'][i] == 'ST':
    datos_test['player_positions'][i] = 10       

datos_test

       sofifa_id  ... international_reputation
0         158023  ...                        5
1          20801  ...                        5
2         190871  ...                        5
3         200389  ...                        3
4         183277  ...                        4
...          ...  ...                      ...
18273     245006  ...                        1
18274     250995  ...                        1
18275     252332  ...                        1
18276     251110  ...                        1
18277     233449  ...                        1

[18278 rows x 10 columns]

In [9]:
#Normalizing values of overall and potential
#Training Set 1,2 and Test Set

datos_train1['overall'] = datos_train1['overall'].div(100)
datos_train3['overall'] = datos_train3['overall'].div(100)
datos_test['overall'] = datos_test['overall'].div(100)
datos_train1['potential'] = datos_train1['potential'].div(100)
datos_train3['potential'] = datos_train3['potential'].div(100)
datos_test['potential'] = datos_test['potential'].div(100)

In [10]:
#One Hot Encoding of preferred_foot: Training Set 1

datos_train1['right_foot'] = np.zeros
datos_train1['left_foot'] = np.zeros

for i in range (len(datos_train1.index)): 
  if datos_train1['preferred_foot'][i] == 'Left':
    datos_train1['left_foot'][i] = 1
    datos_train1['right_foot'][i] = 0
  if datos_train1['preferred_foot'][i] == 'Right':
    datos_train1['right_foot'][i] = 1
    datos_train1['left_foot'][i] = 0

datos_train1 = datos_train1.drop('preferred_foot', axis = 1)
datos_train1

       sofifa_id                            long_name  ...  right_foot  left_foot
0          20801  Cristiano Ronaldo dos Santos Aveiro  ...           1          0
1         158023       Lionel Andrés Messi Cuccittini  ...           0          1
2         190871        Neymar da Silva Santos Junior  ...           1          0
3         167495                         Manuel Neuer  ...           1          0
4         176580             Luis Alberto Suárez Díaz  ...           1          0
...          ...                                  ...  ...         ...        ...
17587     237463                          Adam Kelsey  ...           1          0
17588     231381                         Jordan Young  ...           0          1
17589     240404                          Jack Keeble  ...           1          0
17590      11728                     Barry Richardson  ...           1          0
17591     235352                      Tommy Käßemodel  ...           1          0

[17592 rows x 11 columns]

In [11]:
#One Hot Encoding of preferred_foot: Training Set 2

datos_train3['right_foot'] = np.zeros
datos_train3['left_foot'] = np.zeros

for i in range (len(datos_train3.index)): 
  if datos_train3['preferred_foot'][i] == 'Left':
    datos_train3['left_foot'][i] = 1
    datos_train3['right_foot'][i] = 0
  if datos_train3['preferred_foot'][i] == 'Right':
    datos_train3['right_foot'][i] = 1
    datos_train3['left_foot'][i] = 0

datos_train3 = datos_train3.drop('preferred_foot', axis = 1)
datos_train3

       sofifa_id                            long_name  ...  right_foot  left_foot
0          20801  Cristiano Ronaldo dos Santos Aveiro  ...           1          0
1         158023       Lionel Andrés Messi Cuccittini  ...           0          1
2         190871        Neymar da Silva Santos Junior  ...           1          0
3         193080                David De Gea Quintana  ...           1          0
4         192985                      Kevin De Bruyne  ...           1          0
...          ...                                  ...  ...         ...        ...
17765     238985                      Pierce Phillips  ...           1          0
17766     240160                    Alexander Kaltner  ...           1          0
17767     241304                                  马俊亮  ...           1          0
17768     240158                     Christoph Ehlich  ...           1          0
17769     243961                           Evan Tweed  ...           1          0

[17770 rows x 11 columns]

In [12]:
#One Hot Encoding of preferred_foot: Test Set

datos_test['right_foot'] = np.zeros
datos_test['left_foot'] = np.zeros

for i in range (len(datos_test.index)): 
  if datos_test['preferred_foot'][i] == 'Left':
    datos_test['left_foot'][i] = 1
    datos_test['right_foot'][i] = 0
  if datos_test['preferred_foot'][i] == 'Right':
    datos_test['right_foot'][i] = 1
    datos_test['left_foot'][i] = 0

datos_test = datos_test.drop('preferred_foot', axis = 1)
datos_test

       sofifa_id                            long_name  ...  right_foot  left_foot
0         158023       Lionel Andrés Messi Cuccittini  ...           0          1
1          20801  Cristiano Ronaldo dos Santos Aveiro  ...           1          0
2         190871        Neymar da Silva Santos Junior  ...           1          0
3         200389                            Jan Oblak  ...           1          0
4         183277                          Eden Hazard  ...           1          0
...          ...                                  ...  ...         ...        ...
18273     245006                                   邵帅  ...           1          0
18274     250995                         Mingjie Xiao  ...           1          0
18275     252332                                   张威  ...           1          0
18276     251110                                  汪海健  ...           1          0
18277     233449                                  潘喜明  ...           1          0

[18278 rows x 11 columns]

In [13]:
#League Division by clubs
#If player is in 1st division, league_division is 1, 2nd division is 2 and so on
#Not implemented because most players are div 1

Preprocessing Transfermarkt Data

In [14]:
#Values to replace in excel using search and replace function (transfermarkt database 1718 and 1819):
#Ã© -- é
#Ã³ -- ó
#Ã¡ -- á
#Ã« -- ë
#Ãº -- ú
#Ã¯ -- ï
#Ã´ -- ô
#Ã¼ -- ü
#Ã– -- Ö
#Ã -- í
#í± -- ñ
#í¶ -- ö
#í² -- ò
#í‰ -- É
#í“ -- Ó
#È™ -- ș
#í® -- î
#Ä‡ -- ć
#í£ -- ã
#í‘ -- Ñ
#í§ -- ç

In [15]:
#Values to replace in excel using search and replace function (transfermarkt database 1920):
#Ăş -- ú
#Ă© -- é
#ĂŻ -- ï
#Ã -- í
#ÄŤ -- č
#í§ -- ç
#Ĺˇ -- š
#íˇ -- á
#í˛ -- ò
#í« -- ë
#í‰ -- É
#í¶ -- ö
#í– -- Ö
#í§ -- ç
#í± -- ñ
#íł -- ó
#í‘ -- Ñ
#í“ -- Ó
#í´ -- ô
#Ä‡ -- ć
#Ã¼ -- ü
#í“ -- Ó

In [16]:
# Columns to use from transfermarkt data
useful_columns = ['player','games','games_starts','minutes','goals','assists','goals_per90','assists_per90','goals_assists_per90','goals_pens_per90',
               'goals_assists_pens_per90','xg','xa','xg_per90','xa_per90','shots_on_target_pct',
               'shots_total_per90','shots_on_target_per90','goals_per_shot','goals_per_shot_on_target',
               'passes_pct','crosses','passes_intercepted','passes_blocked','tackles','tackles_won','dribble_tackles_pct','dribbled_past',
               'pressure_regain_pct','blocks','blocked_shots','blocked_passes','interceptions','clearances','errors','touches_def_pen_area',
               'touches_att_pen_area','dribbles_completed_pct','players_dribbled_past','passes_received_pct',
               'miscontrols','dispossessed','fouls','fouled','offsides','pens_won','pens_conceded','ball_recoveries','aerials_won_pct',
               'games_gk','games_starts_gk','minutes_gk','goals_against_gk','shots_on_target_against','saves','save_pct','clean_sheets',
               'pens_saved','LgRk','CL']

datos_train2 = datos_train2[useful_columns]
datos_test2 = datos_test2[useful_columns]
datos_train4 = datos_train4[useful_columns]
datos_train2

              player  games  games_starts  ...  pens_saved  LgRk  CL
0             Burgui     23            12  ...           0    14   0
1     Raphaël Varane     27            27  ...           0     3   1
2       Rubén Duarte     24            24  ...           0    14   0
3      Samuel Umtiti     25            24  ...           0     1   1
4       Manu Garcí­a     30            27  ...           0    14   0
...              ...    ...           ...  ...         ...   ...  ..
2227  Victor Osimhen     12             3  ...           0    16   0
2228  Renato Steffen     16             6  ...           0    16   0
2229    Paul Jaeckel      3             3  ...           0    16   0
2230   Paul Verhaegh     31            30  ...           0    16   0
2231         William     22            19  ...           0    16   0

[2232 rows x 60 columns]

In [17]:
#Applying normalization to league ranking (LgRk)

datos_train2['LgRk'] = (datos_train2['LgRk'] - datos_train2['LgRk'].min()) / (datos_train2['LgRk'].max() - datos_train2['LgRk'].min())
datos_train4['LgRk'] = (datos_train4['LgRk'] - datos_train4['LgRk'].min()) / (datos_train4['LgRk'].max() - datos_train4['LgRk'].min())
datos_test2['LgRk'] = (datos_test2['LgRk'] - datos_test2['LgRk'].min()) / (datos_test2['LgRk'].max() - datos_test2['LgRk'].min())

#Applying normalization to minutes played (minutes)

datos_train2['minutes'] = (datos_train2['minutes'] - datos_train2['minutes'].min()) / (datos_train2['minutes'].max() - datos_train2['minutes'].min())
datos_train4['minutes'] = (datos_train4['minutes'] - datos_train4['minutes'].min()) / (datos_train4['minutes'].max() - datos_train4['minutes'].min())
datos_test2['minutes'] = (datos_test2['minutes'] - datos_test2['minutes'].min()) / (datos_test2['minutes'].max() - datos_test2['minutes'].min())

#Dividing percentages by 100

datos_train2['shots_on_target_pct'] = datos_train2['shots_on_target_pct'].div(100)
datos_train4['shots_on_target_pct'] = datos_train2['shots_on_target_pct'].div(100)
datos_test2['shots_on_target_pct'] = datos_test2['shots_on_target_pct'].div(100)

datos_train2['passes_pct'] = datos_train2['passes_pct'].div(100)
datos_train4['passes_pct'] = datos_train2['passes_pct'].div(100)
datos_test2['passes_pct'] = datos_test2['passes_pct'].div(100)

datos_train2['dribbles_completed_pct'] = datos_train2['dribbles_completed_pct'].div(100)
datos_train4['dribbles_completed_pct'] = datos_train2['dribbles_completed_pct'].div(100)
datos_test2['dribbles_completed_pct'] = datos_test2['dribbles_completed_pct'].div(100)

datos_train2['dribble_tackles_pct'] = datos_train2['dribble_tackles_pct'].div(100)
datos_train4['dribble_tackles_pct'] = datos_train2['dribble_tackles_pct'].div(100)
datos_test2['dribble_tackles_pct'] = datos_test2['dribble_tackles_pct'].div(100)

datos_train2['pressure_regain_pct'] = datos_train2['pressure_regain_pct'].div(100)
datos_train4['pressure_regain_pct'] = datos_train2['pressure_regain_pct'].div(100)
datos_test2['pressure_regain_pct'] = datos_test2['pressure_regain_pct'].div(100)

datos_train2['dribbles_completed_pct'] = datos_train2['dribbles_completed_pct'].div(100)
datos_train4['dribbles_completed_pct'] = datos_train2['dribbles_completed_pct'].div(100)
datos_test2['dribbles_completed_pct'] = datos_test2['dribbles_completed_pct'].div(100)

datos_train2['passes_received_pct'] = datos_train2['passes_received_pct'].div(100)
datos_train4['passes_received_pct'] = datos_train2['passes_received_pct'].div(100)
datos_test2['passes_received_pct'] = datos_test2['passes_received_pct'].div(100)

datos_train2['aerials_won_pct'] = datos_train2['aerials_won_pct'].div(100)
datos_train4['aerials_won_pct'] = datos_train2['aerials_won_pct'].div(100)
datos_test2['aerials_won_pct'] = datos_test2['aerials_won_pct'].div(100)

datos_train2['save_pct'] = datos_train2['save_pct'].div(100)
datos_train4['save_pct'] = datos_train2['save_pct'].div(100)
datos_test2['save_pct'] = datos_test2['save_pct'].div(100)
datos_train2

              player  games  games_starts  ...  pens_saved      LgRk  CL
0             Burgui     23            12  ...           0  0.684211   0
1     Raphaël Varane     27            27  ...           0  0.105263   1
2       Rubén Duarte     24            24  ...           0  0.684211   0
3      Samuel Umtiti     25            24  ...           0  0.000000   1
4       Manu Garcí­a     30            27  ...           0  0.684211   0
...              ...    ...           ...  ...         ...       ...  ..
2227  Victor Osimhen     12             3  ...           0  0.789474   0
2228  Renato Steffen     16             6  ...           0  0.789474   0
2229    Paul Jaeckel      3             3  ...           0  0.789474   0
2230   Paul Verhaegh     31            30  ...           0  0.789474   0
2231         William     22            19  ...           0  0.789474   0

[2232 rows x 60 columns]

In [18]:
#Position of players by Name
d = np.where(datos_train2['player'] == 'Neymar')
d

(array([1580]),)

In [19]:
#Merging of sofifa and transfermarkt databases by player name: Training Set 1
#Comparing player names to set as key for merge

datos_train_list1 = datos_train1.values.tolist()
datos_train_list2 = datos_train2.values.tolist()

for i in range (len(datos_train_list2)):
 for j in range (len(datos_train_list1)):
  if datos_train_list2[i][0] in datos_train_list1[j][1]:        
          datos_train_list1[j][1] = datos_train_list2[i][0]

datos_train_list1[2][1]

'Neymar'

In [20]:
#Merging of sofifa and transfermarkt databases by player name: Training Set 2
#Comparing player names to set as key for merge

datos_train_list3 = datos_train3.values.tolist()
datos_train_list4 = datos_train4.values.tolist()

for i in range (len(datos_train_list4)):
 for j in range (len(datos_train_list3)):
  if str(datos_train_list4[i][0]) in str(datos_train_list3[j][1]):        
          datos_train_list3[j][1] = datos_train_list4[i][0]

datos_train_list3[2][1]

'Neymar'

In [21]:
#Merging of sofifa and transfermarkt databases by player name: Test Set
#Comparing player names to set as key for merge

datos_test_list1 = datos_test.values.tolist()
datos_test_list2 = datos_test2.values.tolist()

for i in range (len(datos_test_list2)):
  for j in range (len(datos_test_list1)):
     if str(datos_test_list2[i][0]) in str(datos_test_list1[j][1]):        
          datos_test_list1[j][1] = datos_test_list2[i][0]

datos_test_list1[2][1]

'Neymar'

In [22]:
#Returning lists to dataframes
datos_train1 = pd.DataFrame(datos_train_list1, columns = ['sofifa_id', 	'long_name', 	'age', 	'height_cm', 	'weight_kg', 	'overall', 	'potential', 	
                                        'player_positions', 	'international_reputation', 'right_foot', 'left_foot'])

datos_train3 = pd.DataFrame(datos_train_list3, columns = ['sofifa_id', 	'long_name', 	'age', 	'height_cm', 	'weight_kg', 	'overall', 	'potential', 	
                                        'player_positions', 	'international_reputation', 'right_foot', 'left_foot'])

datos_test = pd.DataFrame(datos_test_list1, columns = ['sofifa_id', 	'long_name', 	'age', 	'height_cm', 	'weight_kg', 	'overall', 	'potential', 	
                                        'player_positions', 	'international_reputation', 'right_foot', 'left_foot'])

#Renaming columns to have the same name in the key (name) column
datos_train2.rename(columns={'player': 'long_name'}, inplace=True)
datos_test2.rename(columns={'player': 'long_name'}, inplace=True)
datos_train4.rename(columns={'player': 'long_name'}, inplace=True)
datos_test_nuevo.rename(columns={'ID': 'sofifa_id'}, inplace=True)
datos_train2

           long_name  games  games_starts  ...  pens_saved      LgRk  CL
0             Burgui     23            12  ...           0  0.684211   0
1     Raphaël Varane     27            27  ...           0  0.105263   1
2       Rubén Duarte     24            24  ...           0  0.684211   0
3      Samuel Umtiti     25            24  ...           0  0.000000   1
4       Manu Garcí­a     30            27  ...           0  0.684211   0
...              ...    ...           ...  ...         ...       ...  ..
2227  Victor Osimhen     12             3  ...           0  0.789474   0
2228  Renato Steffen     16             6  ...           0  0.789474   0
2229    Paul Jaeckel      3             3  ...           0  0.789474   0
2230   Paul Verhaegh     31            30  ...           0  0.789474   0
2231         William     22            19  ...           0  0.789474   0

[2232 rows x 60 columns]

In [23]:
datos_test2

                  long_name  games  games_starts  ...  pens_saved      LgRk  CL
0     Martin Aguirregabiria     31            23  ...           0  0.789474   0
1              Oliver Burke     31            14  ...           0  0.789474   0
2          Ví­ctor Camarasa     17            15  ...           0  0.789474   0
3              Rubén Duarte     31            30  ...           0  0.789474   0
4               Rodrigo Ely     25            24  ...           0  0.789474   0
...                     ...    ...           ...  ...         ...       ...  ..
2227          Ryan Bertrand     32            31  ...           0  0.526316   0
2228         Sofiane Boufal     20             8  ...           0  0.526316   0
2229            Kevin Danso      6             3  ...           0  0.526316   0
2230         Moussa Djenepo     18            10  ...           0  0.526316   0
2231             Angus Gunn     10            10  ...           0  0.526316   0

[2217 rows x 60 columns]

In [24]:
# Merging sofifa and transfermarkt databases using merge
datos_train1 = pd.merge(datos_train1, datos_train2 , how = 'inner', on = 'long_name')
datos_train3 = pd.merge(datos_train3, datos_train4 , how = 'inner', on = 'long_name')
datos_test = pd.merge(datos_test, datos_test2 , how = 'inner', on = 'long_name')
datos_train1

      sofifa_id          long_name  age  ...  pens_saved      LgRk  CL
0         20801  Cristiano Ronaldo   32  ...           0  0.105263   1
1        190871             Neymar   25  ...           0  0.000000   1
2        167495       Manuel Neuer   31  ...           0  0.000000   1
3        176580       Luis Alberto   30  ...           0  0.210526   0
4        198706       Luis Alberto   24  ...           0  0.210526   0
...         ...                ...  ...  ...         ...       ...  ..
2745     194894    Francesco Rossi   26  ...           0  0.315789   0
2746     224263       Jonjoe Kenny   20  ...           0  0.368421   0
2747     229910   Svante Ingelsson   19  ...           0  0.684211   0
2748     229880  Aaron Wan-Bissaka   19  ...           0  0.526316   0
2749     236522    Enrico Brignola   17  ...           0  1.000000   0

[2750 rows x 70 columns]

In [25]:
#Dropping long_name from sofifa databases
datos_train1 = datos_train1.drop('long_name', axis = 1)
datos_train3 = datos_train3.drop('long_name', axis = 1)
datos_test = datos_test.drop('long_name', axis = 1)
datos_train1

      sofifa_id  age  height_cm  ...  pens_saved      LgRk  CL
0         20801   32        185  ...           0  0.105263   1
1        190871   25        175  ...           0  0.000000   1
2        167495   31        193  ...           0  0.000000   1
3        176580   30        182  ...           0  0.210526   0
4        198706   24        183  ...           0  0.210526   0
...         ...  ...        ...  ...         ...       ...  ..
2745     194894   26        193  ...           0  0.315789   0
2746     224263   20        176  ...           0  0.368421   0
2747     229910   19        189  ...           0  0.684211   0
2748     229880   19        183  ...           0  0.526316   0
2749     236522   17        180  ...           0  1.000000   0

[2750 rows x 69 columns]

In [26]:
datos_test

      sofifa_id  age  height_cm  ...  pens_saved      LgRk  CL
0         20801   34        187  ...           0  0.000000   1
1        190871   27        175  ...           0  0.000000   1
2        200389   26        188  ...           0  0.105263   1
3        183277   28        175  ...           0  0.000000   1
4        192985   28        181  ...           0  0.052632   1
...         ...  ...        ...  ...         ...       ...  ..
2671     236867   20        185  ...           0  0.894737   0
2672     251292   22        192  ...           1  0.842105   0
2673     235267   20        187  ...           0  1.000000   0
2674     244446   20        182  ...           0  0.894737   0
2675     247649   17        193  ...           0  0.578947   0

[2676 rows x 69 columns]

In [27]:
#Deleting extra rows in training set
#Sorting by sofifa_id

datos_train1.sort_values('sofifa_id', inplace=True,na_position='first')
datos_train3.sort_values('sofifa_id', inplace=True,na_position='first')
datos_test.sort_values('sofifa_id', inplace=True,na_position='first')

In [28]:
datos_train3

      sofifa_id  age  height_cm  ...  pens_saved      LgRk   CL
567         768   33        188  ...         0.0  0.842105  0.0
76         1179   40        192  ...         1.0  0.000000  1.0
41         8205   35        181  ...         0.0  0.842105  0.0
315       20775   34        175  ...         0.0  0.368421  0.0
0         20801   33        187  ...         0.0  0.000000  1.0
...         ...  ...        ...  ...         ...       ...  ...
2433     245853   21        181  ...         0.0  0.157895  0.0
2388     245977   21        178  ...         0.0  0.736842  0.0
676      246036   24        188  ...         0.0  0.105263  0.0
547      246045   17        177  ...         0.0  0.105263  1.0
2400     246061   20        176  ...         0.0  0.052632  1.0

[2436 rows x 69 columns]

In [29]:
#Deleting extra rows in training set
# Merging 17-18 and 18-19 dataframes

datos_train = pd.merge(datos_train1, datos_train3, on="sofifa_id")

datos_train

      sofifa_id  age_x  height_cm_x  ...  pens_saved_y    LgRk_y  CL_y
0           768     32          188  ...           0.0  0.842105   0.0
1          1179     39          191  ...           1.0  0.000000   1.0
2          8205     34          181  ...           0.0  0.842105   0.0
3         20775     33          175  ...           0.0  0.368421   0.0
4         20801     32          185  ...           0.0  0.000000   1.0
...         ...    ...          ...  ...           ...       ...   ...
1845     241010     23          186  ...           0.0  0.105263   0.0
1846     241010     23          186  ...           0.0  0.105263   1.0
1847     241049     20          176  ...           0.0  0.421053   0.0
1848     241087     19          185  ...           0.0  0.368421   0.0
1849     241108     18          175  ...           0.0  0.105263   1.0

[1850 rows x 137 columns]

In [30]:
#Deleting extra rows in training set
#Separating columns of each dataframe

datos_train18 = datos_train
datos_train18.drop(datos_train18.iloc[:, 69:137], axis = 1, inplace = True)
datos_train18

      sofifa_id  age_x  height_cm_x  ...  pens_saved_x    LgRk_x  CL_x
0           768     32          188  ...             0  0.631579     0
1          1179     39          191  ...             1  0.000000     1
2          8205     34          181  ...             0  0.736842     0
3         20775     33          175  ...             0  0.263158     0
4         20801     32          185  ...             0  0.105263     1
...         ...    ...          ...  ...           ...       ...   ...
1845     241010     23          186  ...             0  0.105263     1
1846     241010     23          186  ...             0  0.105263     1
1847     241049     20          176  ...             0  0.578947     0
1848     241087     19          185  ...             0  0.210526     0
1849     241108     18          175  ...             0  0.210526     0

[1850 rows x 69 columns]

In [31]:
#Deleting extra rows in training set
# Merging 17-18 and 18-19 dataframes

datos_train = pd.merge(datos_train1, datos_train3, on="sofifa_id")

datos_train

      sofifa_id  age_x  height_cm_x  ...  pens_saved_y    LgRk_y  CL_y
0           768     32          188  ...           0.0  0.842105   0.0
1          1179     39          191  ...           1.0  0.000000   1.0
2          8205     34          181  ...           0.0  0.842105   0.0
3         20775     33          175  ...           0.0  0.368421   0.0
4         20801     32          185  ...           0.0  0.000000   1.0
...         ...    ...          ...  ...           ...       ...   ...
1845     241010     23          186  ...           0.0  0.105263   0.0
1846     241010     23          186  ...           0.0  0.105263   1.0
1847     241049     20          176  ...           0.0  0.421053   0.0
1848     241087     19          185  ...           0.0  0.368421   0.0
1849     241108     18          175  ...           0.0  0.105263   1.0

[1850 rows x 137 columns]

In [32]:
#Deleting extra rows in training set
#Separating columns of each dataframe

datos_train19 = datos_train
datos_train19.drop(datos_train19.iloc[:, 1:69], axis = 1, inplace = True)
datos_train19

      sofifa_id  age_y  height_cm_y  ...  pens_saved_y    LgRk_y  CL_y
0           768     33          188  ...           0.0  0.842105   0.0
1          1179     40          192  ...           1.0  0.000000   1.0
2          8205     35          181  ...           0.0  0.842105   0.0
3         20775     34          175  ...           0.0  0.368421   0.0
4         20801     33          187  ...           0.0  0.000000   1.0
...         ...    ...          ...  ...           ...       ...   ...
1845     241010     24          186  ...           0.0  0.105263   0.0
1846     241010     24          186  ...           0.0  0.105263   1.0
1847     241049     21          174  ...           0.0  0.421053   0.0
1848     241087     20          185  ...           0.0  0.368421   0.0
1849     241108     19          178  ...           0.0  0.105263   1.0

[1850 rows x 69 columns]

In [33]:
#Merging with datos_train dataframes to separate dataframes

datos_train18test = pd.merge(datos_train18, datos_test, on="sofifa_id")
datos_train19test = pd.merge(datos_train19, datos_test, on="sofifa_id")

In [34]:
#Deleting additional columns from merge

datos_train18final = datos_train18test
datos_train18final.drop(datos_train18test.iloc[:,69:137], axis = 1, inplace = True)
datos_train18final

      sofifa_id  age_x  height_cm_x  ...  pens_saved_x    LgRk_x  CL_x
0           768     32          188  ...             0  0.631579     0
1          1179     39          191  ...             1  0.000000     1
2         20775     33          175  ...             0  0.263158     0
3         20801     32          185  ...             0  0.105263     1
4         22391     35          165  ...             0  0.421053     0
...         ...    ...          ...  ...           ...       ...   ...
1509     241010     23          186  ...             0  0.105263     1
1510     241010     23          186  ...             0  0.105263     1
1511     241049     20          176  ...             0  0.578947     0
1512     241108     18          175  ...             0  0.210526     0
1513     241108     18          175  ...             0  0.210526     0

[1514 rows x 69 columns]

In [35]:
#Merging with datos_train dataframes to separate dataframes

datos_train18test = pd.merge(datos_train18, datos_test, on="sofifa_id")
datos_train19test = pd.merge(datos_train19, datos_test, on="sofifa_id")

In [36]:
#Deleting additional columns from merge

datos_train19final = datos_train19test
datos_train19final.drop(datos_train19test.iloc[:, 69:137], axis = 1, inplace = True)
datos_train19final

      sofifa_id  age_y  height_cm_y  ...  pens_saved_y    LgRk_y  CL_y
0           768     33          188  ...           0.0  0.842105   0.0
1          1179     40          192  ...           1.0  0.000000   1.0
2         20775     34          175  ...           0.0  0.368421   0.0
3         20801     33          187  ...           0.0  0.000000   1.0
4         22391     36          165  ...           0.0  0.210526   0.0
...         ...    ...          ...  ...           ...       ...   ...
1509     241010     24          186  ...           0.0  0.105263   1.0
1510     241010     24          186  ...           0.0  0.105263   1.0
1511     241049     21          174  ...           0.0  0.421053   0.0
1512     241108     19          178  ...           0.0  0.105263   1.0
1513     241108     19          178  ...           0.0  0.105263   1.0

[1514 rows x 69 columns]

In [37]:
#Merging with datos_train dataframes to separate dataframes

datos_train18test = pd.merge(datos_train18, datos_test, on="sofifa_id")
datos_train19test = pd.merge(datos_train19, datos_test, on="sofifa_id")

In [38]:
#Deleting additional columns from merge

datos_test2 = datos_train18test
datos_test2.drop(datos_train18test.iloc[:, 1:69], axis = 1, inplace = True)
datos_test2

      sofifa_id  age  height_cm  ...  pens_saved      LgRk  CL
0           768   34        188  ...           0  0.105263   1
1          1179   41        192  ...           0  0.000000   1
2         20775   35        175  ...           0  0.578947   0
3         20801   34        187  ...           0  0.000000   1
4         22391   37        165  ...           0  0.157895   1
...         ...  ...        ...  ...         ...       ...  ..
1509     241010   25        186  ...           0  0.315789   0
1510     241010   25        186  ...           0  0.000000   1
1511     241049   22        174  ...           0  0.263158   0
1512     241108   20        178  ...           0  0.157895   1
1513     241108   20        178  ...           0  0.473684   0

[1514 rows x 69 columns]

In [39]:
#Merging with datos_test_nuevo dataframes to produce same number of rows

datos_test21 = pd.merge(datos_test2, datos_test_nuevo, on="sofifa_id")
datos_test21.sort_values('sofifa_id', inplace=True,na_position='first')
datos_test21

      sofifa_id  age  height_cm  weight_kg  ...  pens_saved      LgRk  CL  Overall
0          1179   41        192         92  ...           0  0.000000   1       82
1         20775   35        175         67  ...           0  0.578947   0       79
2         20801   34        187         83  ...           0  0.000000   1       92
3         22391   37        165         64  ...           0  0.157895   1       56
4         49000   37        183         74  ...           0  0.315789   0       74
...         ...  ...        ...        ...  ...         ...       ...  ..      ...
1345     240976   21        172         69  ...           0  0.315789   0       75
1347     240976   21        172         69  ...           0  0.315789   0       75
1352     241049   22        174         73  ...           0  0.263158   0       71
1353     241108   20        178         72  ...           0  0.157895   1       55
1354     241108   20        178         72  ...           0  0.473684   0       55

[1355 rows x 70 columns]

In [40]:
#Deleting additional columns from merge (only overall needed)

datos_test2_final = datos_test21['Overall']
datos_test2_final

0       82
1       79
2       92
3       56
4       74
        ..
1345    75
1347    75
1352    71
1353    55
1354    55
Name: Overall, Length: 1355, dtype: int64

In [41]:
#Merging with datos_test_nuevo dataframes to separate dataframes

datos_test21 = pd.merge(datos_test_nuevo, datos_test2, on="sofifa_id")
datos_test21.sort_values('sofifa_id', inplace=True,na_position='first')
datos_test21

      sofifa_id  Overall  age  ...  pens_saved      LgRk  CL
1283       1179       82   41  ...           0  0.000000   1
569       20775       79   35  ...           0  0.578947   0
14        20801       92   34  ...           0  0.000000   1
1213      22391       56   37  ...           0  0.157895   1
1285      49000       74   37  ...           0  0.315789   0
...         ...      ...  ...  ...         ...       ...  ..
347      240976       75   21  ...           0  0.315789   0
346      240976       75   21  ...           0  0.000000   1
1100     241049       71   22  ...           0  0.263158   0
1258     241108       55   20  ...           0  0.473684   0
1257     241108       55   20  ...           0  0.157895   1

[1355 rows x 70 columns]

In [42]:
#Deleting additional columns from merge

datos_test_nuevo_final = datos_test21
datos_test_nuevo_final.drop('Overall', axis = 1, inplace = True)
datos_test_nuevo_final

      sofifa_id  age  height_cm  ...  pens_saved      LgRk  CL
1283       1179   41        192  ...           0  0.000000   1
569       20775   35        175  ...           0  0.578947   0
14        20801   34        187  ...           0  0.000000   1
1213      22391   37        165  ...           0  0.157895   1
1285      49000   37        183  ...           0  0.315789   0
...         ...  ...        ...  ...         ...       ...  ..
347      240976   21        172  ...           0  0.315789   0
346      240976   21        172  ...           0  0.000000   1
1100     241049   22        174  ...           0  0.263158   0
1258     241108   20        178  ...           0  0.473684   0
1257     241108   20        178  ...           0  0.157895   1

[1355 rows x 69 columns]

In [43]:
# Dropping ID, no longer necessary

datos_train18final = datos_train18final.drop('sofifa_id', axis = 1)
datos_test2 = datos_test2.drop('sofifa_id', axis = 1)
datos_train19final = datos_train19final.drop('sofifa_id', axis = 1)
datos_test_nuevo_final = datos_test_nuevo_final.drop('sofifa_id', axis = 1)

Setting data for the model

In [44]:
# Separating overall and potential as "y" and rest of the table as "x"

datos_train_y = datos_test2['overall']
datos_train_y

datos_train_x = datos_train19final

In [45]:
# Transforming dataframes in arrays

datos_train_x = datos_train_x.astype('float32')
datos_train_y = np.asarray(datos_train_y).astype('float32')
datos_test2 = np.asarray(datos_test2).astype('float32')

In [107]:
# Separating data in training and validation

train_dfX,val_dfX,train_dfY, val_dfY = train_test_split(datos_train_x,datos_train_y, test_size=0.1, random_state=True)

Model

In [108]:
iii = layers.Input(shape=(68,)) #input 

d1 = layers.Dense(32, activation="sigmoid", input_dim=68)(iii)
d2 = layers.Dense(16, activation="sigmoid")(d1)
final = layers.Dense(1, activation="sigmoid")(d2)

modelo = keras.Model(inputs=iii, outputs=final)
modelo.summary()
opt = tf.keras.optimizers.Adam(lr=1e-3, decay=1e-5) #Defining separately to manually modify learning rate
modelo.compile(opt, tf.keras.losses.MeanSquaredError(), metrics=['mse','mae'])
h = modelo.fit(train_dfX, train_dfY, epochs=250, batch_size = 32, validation_data=(val_dfX, val_dfY))

Model: "model_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 68)]              0

 dense_24 (Dense)            (None, 32)                2208

 dense_25 (Dense)            (None, 16)                528

 dense_26 (Dense)            (None, 1)                 17

=================================================================
Total params: 2,753
Trainable params: 2,753
Non-trainable params: 0
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

Epoch 1/250
43/43 [==============================] - 2s 20ms/step - loss: 0.0038 - mse: 0.0038 - mae: 0.0467 - val_loss: 0.0028 - val_mse: 0.0028 - val_mae: 0.0421
Epoch 2/250
43/43 [==============================] - 0s 5ms/step - loss: 0.0029 - mse: 0.0029 - mae: 0.0412 - val_loss: 0.0025 - val_mse: 0.0025 - val_mae: 0.0390
Epoch 3/250
43/43 [==============================] - 0s 4ms/step - loss: 0.0027 - mse: 0.0027 - mae: 0.0397 - val_loss: 0.0025 - val_mse: 0.0025 - val_mae: 0.0393
Epoch 4/250
43/43 [==============================] - 0s 4ms/step - loss: 0.0026 - mse: 0.0026 - mae: 0.0388 - val_loss: 0.0022 - val_mse: 0.0022 - val_mae: 0.0375
Epoch 5/250
43/43 [==============================] - 0s 5ms/step - loss: 0.0026 - mse: 0.0026 - mae: 0.0387 - val_loss: 0.0024 - val_mse: 0.0024 - val_mae: 0.0387
Epoch 6/250
43/43 [==============================] - 0s 4ms/step - loss: 0.0025 - mse: 0.0025 - mae: 0.0380 - val_loss: 0.0023 - val_mse: 0.0023 - val_mae: 0.0378
Epoch 7/250
43/43 [==============================] - 0s 4ms/step - loss: 0.0024 - mse: 0.0024 - mae: 0.0378 - val_loss: 0.0022 - val_mse: 0.0022 - val_mae: 0.0373
Epoch 8/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0024 - mse: 0.0024 - mae: 0.0373 - val_loss: 0.0022 - val_mse: 0.0022 - val_mae: 0.0374
Epoch 9/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0024 - mse: 0.0024 - mae: 0.0370 - val_loss: 0.0022 - val_mse: 0.0022 - val_mae: 0.0373
Epoch 10/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0024 - mse: 0.0024 - mae: 0.0371 - val_loss: 0.0022 - val_mse: 0.0022 - val_mae: 0.0367
Epoch 11/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0023 - mse: 0.0023 - mae: 0.0367 - val_loss: 0.0021 - val_mse: 0.0021 - val_mae: 0.0363
Epoch 12/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0023 - mse: 0.0023 - mae: 0.0363 - val_loss: 0.0021 - val_mse: 0.0021 - val_mae: 0.0363
Epoch 13/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0022 - mse: 0.0022 - mae: 0.0358 - val_loss: 0.0023 - val_mse: 0.0023 - val_mae: 0.0374
Epoch 14/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0023 - mse: 0.0023 - mae: 0.0363 - val_loss: 0.0024 - val_mse: 0.0024 - val_mae: 0.0381
Epoch 15/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0022 - mse: 0.0022 - mae: 0.0357 - val_loss: 0.0021 - val_mse: 0.0021 - val_mae: 0.0358
Epoch 16/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0022 - mse: 0.0022 - mae: 0.0355 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0346
Epoch 17/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0021 - mse: 0.0021 - mae: 0.0352 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0344
Epoch 18/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0021 - mse: 0.0021 - mae: 0.0347 - val_loss: 0.0022 - val_mse: 0.0022 - val_mae: 0.0360
Epoch 19/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0020 - mse: 0.0020 - mae: 0.0344 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0348
Epoch 20/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0020 - mse: 0.0020 - mae: 0.0335 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0348
Epoch 21/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0020 - mse: 0.0020 - mae: 0.0342 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0335
Epoch 22/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0019 - mse: 0.0019 - mae: 0.0331 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0336
Epoch 23/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0019 - mse: 0.0019 - mae: 0.0328 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0346
Epoch 24/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0019 - mse: 0.0019 - mae: 0.0330 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0345
Epoch 25/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0019 - mse: 0.0019 - mae: 0.0330 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0333
Epoch 26/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0326 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0338
Epoch 27/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0325 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0341
Epoch 28/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0321 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0330
Epoch 29/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0316 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0336
Epoch 30/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0318 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0339
Epoch 31/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0322 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0336
Epoch 32/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0321 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0323
Epoch 33/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0017 - mse: 0.0017 - mae: 0.0318 - val_loss: 0.0022 - val_mse: 0.0022 - val_mae: 0.0360
Epoch 34/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0017 - mse: 0.0017 - mae: 0.0315 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0345
Epoch 35/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0017 - mse: 0.0017 - mae: 0.0310 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0327
Epoch 36/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0318 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0324
Epoch 37/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0017 - mse: 0.0017 - mae: 0.0307 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0320
Epoch 38/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0017 - mse: 0.0017 - mae: 0.0310 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0317
Epoch 39/250
43/43 [==============================] - 0s 4ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0305 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0318
Epoch 40/250
43/43 [==============================] - 0s 5ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0302 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0322
Epoch 41/250
43/43 [==============================] - 0s 6ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0300 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0338
Epoch 42/250
43/43 [==============================] - 0s 4ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0297 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0318
Epoch 43/250
43/43 [==============================] - 0s 5ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0299 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0329
Epoch 44/250
43/43 [==============================] - 0s 5ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0296 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0337
Epoch 45/250
43/43 [==============================] - 0s 4ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0297 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0316
Epoch 46/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0296 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0337
Epoch 47/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0300 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0321
Epoch 48/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0294 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0312
Epoch 49/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0296 - val_loss: 0.0020 - val_mse: 0.0020 - val_mae: 0.0354
Epoch 50/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0291 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0306
Epoch 51/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0287 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0308
Epoch 52/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0288 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0307
Epoch 53/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0291 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0305
Epoch 54/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0283 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0318
Epoch 55/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0284 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0327
Epoch 56/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0287 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0335
Epoch 57/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0285 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0308
Epoch 58/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0280 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0296
Epoch 59/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0279 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0320
Epoch 60/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0290 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0310
Epoch 61/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0282 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0316
Epoch 62/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0279 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0299
Epoch 63/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0281 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0298
Epoch 64/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0285 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0336
Epoch 65/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0280 - val_loss: 0.0014 - val_mse: 0.0014 - val_mae: 0.0282
Epoch 66/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0277 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0311
Epoch 67/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0275 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0308
Epoch 68/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0278 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0323
Epoch 69/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0277 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0319
Epoch 70/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0270 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0313
Epoch 71/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0277 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0302
Epoch 72/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0277 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0320
Epoch 73/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0273 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0305
Epoch 74/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0269 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0291
Epoch 75/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0271 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0314
Epoch 76/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0273 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0303
Epoch 77/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0279 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0296
Epoch 78/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0278 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0304
Epoch 79/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0272 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0316
Epoch 80/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0268 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0308
Epoch 81/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0271 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0318
Epoch 82/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0269 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0342
Epoch 83/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0263 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0310
Epoch 84/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0263 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0300
Epoch 85/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0268 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0312
Epoch 86/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0265 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0307
Epoch 87/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0269 - val_loss: 0.0014 - val_mse: 0.0014 - val_mae: 0.0295
Epoch 88/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0273 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0300
Epoch 89/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0272 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0322
Epoch 90/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0261 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0295
Epoch 91/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0270 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0300
Epoch 92/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0269 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0315
Epoch 93/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0266 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0303
Epoch 94/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0265 - val_loss: 0.0014 - val_mse: 0.0014 - val_mae: 0.0289
Epoch 95/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0257 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0309
Epoch 96/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0263 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0312
Epoch 97/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0263 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0297
Epoch 98/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0262 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0304
Epoch 99/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0263 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0299
Epoch 100/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0259 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0299
Epoch 101/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0262 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0300
Epoch 102/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0260 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0298
Epoch 103/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0258 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0299
Epoch 104/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0257 - val_loss: 0.0014 - val_mse: 0.0014 - val_mae: 0.0291
Epoch 105/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0265 - val_loss: 0.0014 - val_mse: 0.0014 - val_mae: 0.0294
Epoch 106/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0264 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0293
Epoch 107/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0253 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0309
Epoch 108/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0261 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0306
Epoch 109/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0260 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0324
Epoch 110/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0256 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0300
Epoch 111/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0259 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0314
Epoch 112/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0259 - val_loss: 0.0019 - val_mse: 0.0019 - val_mae: 0.0345
Epoch 113/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0262 - val_loss: 0.0017 - val_mse: 0.0017 - val_mae: 0.0327
Epoch 114/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0258 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0305
Epoch 115/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0254 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0302
Epoch 116/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0257 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0308
Epoch 117/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0250 - val_loss: 0.0016 - val_mse: 0.0016 - val_mae: 0.0318
Epoch 118/250
43/43 [==============================] - 0s 2ms/step - loss: 0.0012 - mse: 0.0012 - mae: 0.0255 - val_loss: 0.0014 - val_mse: 0.0014 - val_mae: 0.0297
Epoch 119/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0253 - val_loss: 0.0015 - val_mse: 0.0015 - val_mae: 0.0299
Epoch 120/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0247 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0338
Epoch 121/250
43/43 [==============================] - 0s 3ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0253 - val_loss: 0.0018 - val_mse: 0.0018 - val_mae: 0.0341
Epoch 122/250

Testing of the Model

In [109]:
#Making predictions

X_test = datos_test_nuevo_final
y_test = datos_test2_final
y_pred = modelo.predict(X_test)
y_pred = (y_pred*100)
# Finding the root-mean-square
rms = np.sqrt(mean_squared_error(y_test, y_pred))
rms

5.085803303459335

In [110]:
#Real-Life ratings 

y_test2 = pd.DataFrame(y_test)
y_test2

      Overall
0          82
1          79
2          92
3          56
4          74
...       ...
1345       75
1347       75
1352       71
1353       55
1354       55

[1355 rows x 1 columns]

In [111]:
#Predicted ratings
y_pred2 = pd.DataFrame(y_pred)
y_pred2

              0
0     81.514809
1     81.302551
2     88.291046
3     70.707428
4     75.402893
...         ...
1350  73.997337
1351  75.692871
1352  73.787193
1353  68.891632
1354  77.812073

[1355 rows x 1 columns]

Showing Results from Model

In [112]:
#Dataframe with Real-Life overall, predicted overall, and difference between values

y_pred2.columns = ['Overall']
y_dif = pd.DataFrame(columns=['real_Overall','predicted_Overall','Diff'])
y_dif['real_Overall'] = y_test2['Overall']
y_dif['predicted_Overall'] = y_pred2['Overall']
y_dif['Diff'] = (y_dif['real_Overall']-y_dif['predicted_Overall'])
y_dif.loc[[0]]

   real_Overall  predicted_Overall      Diff
0            82          81.514809  0.485191

In [113]:
y_dif

      real_Overall  predicted_Overall       Diff
0               82          81.514809   0.485191
1               79          81.302551  -2.302551
2               92          88.291046   3.708954
3               56          70.707428 -14.707428
4               74          75.402893  -1.402893
...            ...                ...        ...
1345            75          75.692871  -0.692871
1347            75          75.692871  -0.692871
1352            71          73.787193  -2.787193
1353            55          68.891632 -13.891632
1354            55          77.812073 -22.812073

[1355 rows x 3 columns]

In [98]:
datos_test21

      sofifa_id  age  height_cm  ...  pens_saved      LgRk  CL
0          1179   41        192  ...           0  0.000000   1
1         20775   35        175  ...           0  0.578947   0
2         20801   34        187  ...           0  0.000000   1
3         22391   37        165  ...           0  0.157895   1
4         49000   37        183  ...           0  0.315789   0
...         ...  ...        ...  ...         ...       ...  ..
1350     240976   21        172  ...           0  0.315789   0
1351     240976   21        172  ...           0  0.000000   1
1352     241049   22        174  ...           0  0.263158   0
1353     241108   20        178  ...           0  0.473684   0
1354     241108   20        178  ...           0  0.157895   1

[1355 rows x 69 columns]

In [114]:
#Including ID to be able to search specific players

datos_test21 = datos_test21.reset_index(drop=True)
y_dif['sofifa_id'] = datos_test21['sofifa_id']
y_dif

      real_Overall  predicted_Overall       Diff  sofifa_id
0               82          81.514809   0.485191       1179
1               79          81.302551  -2.302551      20775
2               92          88.291046   3.708954      20801
3               56          70.707428 -14.707428      22391
4               74          75.402893  -1.402893      49000
...            ...                ...        ...        ...
1345            75          75.692871  -0.692871     240976
1347            75          75.692871  -0.692871     240976
1352            71          73.787193  -2.787193     241049
1353            55          68.891632 -13.891632     241108
1354            55          77.812073 -22.812073     241108

[1355 rows x 4 columns]

In [115]:
#Searching players by sofifa_id (235805 -- Federico Chiesa)

player = np.where(y_dif['sofifa_id'] == 235805)
player

(array([1274]),)

In [116]:
#Showing prediction of that player

y_dif.iloc[[1274]]

      real_Overall  predicted_Overall      Diff  sofifa_id
1274            78          78.503654 -0.503654     235805

In [117]:
#saving model as .h5
modelo.save('modelo_fifa.h5')

In [118]:
#Thank you for seeing my code!
#Made using: Google Colab
#Project made by: Massimo Di Gennaro